{% extends 'base.html' %}

{% block content %}

<h3>All Rooms</h3>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Room No</th>
            <th>Capacity</th>
            <th>Occupied</th>
            <th>Available Seats</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for room in rooms %}
        <tr>
            <td>{{ room.room_no }}</td>
            <td>{{ room.capacity }}</td>
            <td>{{ room.occupied }}</td>
            <td>{{ room.available_seats }}</td>
            <td>
                {% if room.available_seats == 0 %}
                    <span class="badge bg-danger">Full</span>
                {% else %}
                    <span class="badge bg-success">Available</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}